<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emin.digit.mobile.android.hybrid.EminBridge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name = "android.hardware.camera" />
    <uses-feature android:name = "android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 集成HTML5运行环境主Activity -->
        <!--<activity android:name="com.emin.digit.mobile.android.hybrid.base.EMHybridActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- 二维码扫描Activity -->
        <activity android:name="com.emin.digit.test.zxing.android.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name="com.emin.digit.test.TestActivityLayout">
            <intent-filter>
                <action android:name="com.emin.digit.test.TestActivityLayout" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.emin.digit.test.TestSurfaceActivity">
            <intent-filter>
                <action android:name="com.emin.digit.test.TestSurfaceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- 测试动态布局,通过代码来构建test_dynamic_layout -->
        <activity android:name="com.emin.digit.test.TestDynamicLayout">
            <intent-filter>
                <!--<action android:name="com.emin.digit.test.TestDynamicLayout" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>